<div *ngFor="let item of data">
    <div>{{item['QUESTION']}}</div>
    <div>
        <input type="radio" value="{{item['OPTION1']}}" name="{{item['ID']}}" >
        <label for="male">{{item['OPTION1']}}</label>
     </div>
     <div>
        <input type="radio" value="{{item['OPTION2']}}" name="{{item['ID']}}" >
        <label for="female">{{item['OPTION2']}}</label>
     </div>
     <div>
        <input type="radio" value="{{item['OPTION3']}}" name="{{item['ID']}}" >
        <label for="female">{{item['OPTION3']}}</label>
     </div>
     <div>
        <input type="radio" value="{{item['OPTION4']}}" name="{{item['ID']}}" >
        <label for="female">{{item['OPTION4']}}</label>
     </div>   
</div>
<button type="submit">Submit</button>