<nav style="padding-left: 2rem;">
    <span>Total Attempts: 03 </span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Current Attempt: 04</span>
</nav>
<br>
<div class="form-group">
    <label for="Subject">Subject:</label>
    <select class="form-control" id="subject" (change)="onChange('subject' , $event.target.value)">
        <option></option>
        <option *ngFor="let item of subjectsList" [(value)]="item.SUBJECT_ID">{{item.SUBJECT_NAME}}</option>
    </select>
    <span id="subjectValidation" ></span>
</div>
<br>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6" style="padding-top: 20px">
        <h5 style="text-align: center;">Please read the instructions clearly</h5><br>   
    </div>    
</div>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
        <div>
            <div>1.The first point in instructions is you have to read the instruction properly.</div>
            <div>2.The second point in instructions is you have attempt all the questions.</div>
            <div>3.The third point in instructions is you have attempt all the questions.</div>
            <div>4.The fourth point in instructions is you have attempt all the questions.</div>
            <div>5.The fifth point in instructions is you have attempt all the questions.</div>
        </div>
    </div>
</div>
<div class="row h-100 justify-content-left align-items-left">
    <div class="col-10 col-md-8 col-lg-6" style="padding-top: 20px">
        <div class="form-group text-center">
            <input type="checkbox" value="Terms" id="terms" [(ngModel)]="isChecked" />&nbsp;I have read and understood the instructions for my knowledge.
        </div>
    </div>
</div>