<br>
<br>
<div style="background-color:rgb(235, 244, 247)">
    <br>
<br>
<div class="form-group col-4">
    <label for="Subject"><b>Subject</b></label>
    <select class="form-control align-items-center" id="subject" (change)="onChange('subject' , $event.target.value)">
        <option></option>
        <option *ngFor="let item of subjectsList" [(value)]="item.SUBJECT_ID">{{item.SUBJECT_NAME}}</option>
    </select>
    <span id="subjectValidation" ></span>
</div>
<br>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6" style="padding-top: 20px">
        <h5 style="text-align: center;">Please read the instructions carefully</h5><br>   
    </div>    
</div>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
        <ul>
            <li>
                This application aids you in making your understanding of the concepts better.
            </li>
            <li>
                Even if you give any wrong answers, you will be provided with link/detail which once you study it will enable you to give the right answer on the next attempt.
            </li>
            <li>
                You can utilize the Chat with eduBOT link in case if you face any technical issues also for some additional information regarding the options
            </li>
            <li>
                The results will be displayed  on click of submit button for that attempt
            </li>
        </ul>
    </div>
</div>
<div class="row h-100 justify-content-left align-items-left">
    <div class="col-10 col-md-8 col-lg-6" style="padding-top: 20px">
        <div class="form-group text-center">
            <input type="checkbox" value="Terms" id="terms" [(ngModel)]="isChecked" required />&nbsp;I have read and understood the instructions for my knowledge.
        </div>
    </div>
</div>
</div>
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6" style="padding-top: 20px">
        <div class="form-group text-center">
            <input type="submit" (click)="takeTest()" class="btn btn-success" value="Take Test" />
        </div>
    </div>
</div>